<div class="container">
    <!--<app-server></app-server>
    <app-server></app-server>

    <hr>
    <h1>Assignment One</h1>
    <red-alert></red-alert>
    <green-alert></green-alert>
    <hr>

    <h3>String Binding</h3>
    <p>{{'server'}} name is {{serverName}}. It is {{serverStatus}}</p>

    <p>Want to enable it ?</p>
    <button class="btn btn-primary" [disabled]="disableButton" (click)="createNewServer()">Enable</button>
    <p>{{serverCreated}}</p>

    <label>My Name</label>
    <input class="form-control" [(ngModel)]="serverNewName">
    {{serverNewName}}

    <hr>
    <h1>Assignment Two</h1>
    <app-assignment2></app-assignment2>

    <hr>
    <app-simple-if></app-simple-if>

    <hr>
    <app-simple-style></app-simple-style>

    <hr>
    <simple-ng-for></simple-ng-for>-->

    <!--<hr>
    <h1>Assignment Three</h1>
    <app-assignment4></app-assignment4>-->

    <hr>
    <!--<h1>Assigment5</h1>
    <app-assignment5></app-assignment5>-->
    
    
    <!-- <app-service-component></app-service-component> -->
    
    <app-ud-services-component></app-ud-services-component>

</div>


